html {
    background:#eee;
}

.news-content {
    background: #fff;
    margin-top:20px;
    height: 30vh;
    width: 40%;
    overflow: hidden;
}

.news-content img {
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
}

.nav-item a {
    font:bold !important;
    font-weight: bold !important;
}


#button-area {
    background: #303b44 !important;
}